--extra-index-url https://download.pytorch.org/whl/cu118
torch
transformers
sentence_transformers
unstructured[all-docs]
pytesseract
accelerate
chromadb
streamlit
streamlit-chat
langchain
langchain-community
pyyaml